<%- include('../partials/header') %>

    <!-- Campsite Details Page -->
    <div class="glass">

        <h1><%= campsite.campsite %></h1>

        <div id="map" style="width: 100%; height: 300px; border-radius: 20px; border: 5px solid white; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;"></div> 

        <h4>Campsite Details</h4>
        <ul>
            <li>Name: <%= campsite.campsite %></li>
            <li>Description: <%= campsite.description %></li>
            <li>Latitude: <%= campsite.latitude %></li>
            <li>Longitude: <%= campsite.longitude %></li>
        </ul>
        
                <!--Reviews -->
        <h1>Campsite Reviews</h1>
        <p>This is the reviews page for the selected campsite.</p>
        <h2>Reviews</h2>
        <div>
            <% if (campsite.reviews && campsite.reviews.length> 0) { %>
                <% campsite.reviews.forEach(review=> { %>
                    <div>
                        <p><strong>User:</strong>
                            <%= review.userName %>
                        </p>
                        <p><strong>Rating:</strong>
                            <%= review.rating %>
                        </p>
                        <p><strong>Review:</strong>
                            <%= review.content %>
                        </p>
                    </div>
                    <% }); %>
                        <% } else { %>
                            <p>No reviews available.</p>
                            <% } %>
        </div>

        <!-- Add Review Form & post on same details page-->
        <form id="add-review-form" method="POST" action="/campsites/<%= campsite._id %>/reviews">
            <label>Review:</label>
            <textarea name="content"></textarea>
            <label>Rating:</label>
            <select name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5" selected>5</option>
            </select>
            <input type="submit" value="Submit Review">
        </form>

    
    <!--Map-->
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfFmeEjJ2oTnE9Bcm6TF0J3x9zI5ECY04&callback=initMap"></script>
        <script async defer>
            function initMap() {
                // corrected position object with dynamic latitude and longitude
                const position = { lat: <%= campsite.latitude %>, lng: <%= campsite.longitude %> };
            
                // initializing map
                const map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 10, // zoom on map, adjust as needed
                    center: position
                });
            
                // adding marker to the map to show location better 
                const marker = new google.maps.Marker({
                    position: position,
                    map: map,
                    title: '<%= campsite.campsite %>' 
                });
            }

            initMap()
            </script>   
      
    <%- include('../partials/footer') %>